html, body {
  margin: 0; border: 0; background: #f8f8f8;
  color: #137;
}
body {text-align: center;}
#content {display: inline-block;}
#converter {padding: 8pt; background:#eee; text-align: left; border: 4px solid #e0e8ef;}
#converter hr {border: none; border-bottom: 1px solid #ccc;}
.rowTitle {width:50pt; display: inline-block;}
.rowField, .rowInput {width: 300pt; display: inline-block; }
.rowInput{background: #fcfcfc; border: 1px dashed grey;}
.rowField{background: #f4f4f4; border: 1px solid #ddd; }
.rowField, .rowInput, .rowTitle {
  margin: 0; padding: 0 8pt;
  height: 28pt; font-size: 16pt; line-height: 21pt; vertical-align: baseline;
}
#fullList {width: 382pt; display: inline-block;}
.ref {display: inline-block; padding: 2pt 8pt; border: 1px solid #ddd;}
.bn, .xt {width: 15pt; display: inline-block; text-align: center;}
.bn {color: darkgreen;} .xt {color: steelblue;}
footer{
  margin: 16pt 0;
}
small{font-size: 10pt; line-height: 11pt !important;}

.rowTitle a {text-decoration: none; color: inherit!important;}